In [16]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
# import the data
data = pd.read_csv("/content/train.csv")
data

,Unnamed: 0,Completion_rate,Tuition_in_state,Tuition_out_state,Faculty_salary,Pell_grant_rate,SAT_average,ACT_50thPercentile,pct_White,pct_Black,pct_Hispanic,pct_Asian,Parents_middlesch,Parents_highsch,Parents_college
0,0,0.6552,33560.0,33560.0,4285.0,0.2531,1029.0,21.0,0.3771,0.0612,0.0590,0.1345,0.011561,0.226397,0.762042
1,1,0.5246,7383.0,18543.0,9148.0,0.4752,963.0,21.0,0.2866,0.0331,0.4212,0.1011,0.107411,0.375165,0.517424
2,2,0.4030,23144.0,23144.0,7232.0,0.4668,984.0,21.0,0.3085,0.1426,0.2309,0.0149,0.091241,0.361314,0.547445
3,3,0.5472,6610.0,17770.0,9284.0,0.6369,877.0,18.0,0.1272,0.0572,0.6282,0.0557,0.163236,0.433621,0.403142
4,4,0.8166,47004.0,47004.0,11984.0,0.1337,1323.0,30.0,0.4251,0.0786,0.2268,0.0549,0.014868,0.186091,0.799041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2359,2359,0.5311,24090.0,24090.0,6705.0,0.3402,949.0,20.0,0.6830,0.0544,0.0385,0.0225,0.019266,0.439450,0.541284
2360,2360,0.5371,36660.0,36660.0,6340.0,0.4075,1033.0,23.0,0.6215,0.1582,0.0883,0.0257,0.028593,0.404816,0.566591
2361,2361,0.3677,30331.0,30331.0,6689.0,0.5791,1009.0,22.0,0.5842,0.2277,0.0569,0.0221,0.029851,0.370421,0.599729
2362,2362,0.5541,5055.0,16215.0,9312.0,0.2151,1102.0,24.0,0.7347,0.0113,0.0718,0.0117,0.017512,0.259759,0.722729
2363,2363,0.5871,33358.0,33358.0,8178.0,0.2640,1053.0,23.0,0.5974,0.1482,0.0933,0.0304,0.011107,0.249280,0.739613

In [11]:
x_train = data[["Pell_grant_rate"]].values
y_train = data["Completion_rate"]
print(x_train, y_train)

[[0.2531]
 [0.4752]
 [0.4668]
 ...
 [0.5791]
 [0.2151]
 [0.264 ]] 0       0.6552
1       0.5246
2       0.4030
3       0.5472
4       0.8166
         ...
2359    0.5311
2360    0.5371
2361    0.3677
2362    0.5541
2363    0.5871
Name: Completion_rate, Length: 2364, dtype: float64

In [12]:
from sklearn.linear_model import LinearRegression
# Use Linear Regression to get the model based on the train dataset and get the score
model = LinearRegression().fit(x_train, y_train)
model_score = model.score(x_train, y_train)
print(model_score)

0.46526680306680834

In [13]:
# Use the test dataset to get the predicted result
test = pd.read_csv("/content/x_test.csv")
x_test = test[["Pell_grant_rate"]].values
y_test = model.predict(x_test)
print(y_test)

[0.42109426 0.46037915 0.59943253 ... 0.57638315 0.58016863 0.60540517]

In [14]:
submission = pd.DataFrame.from_dict({'Completion_rate': y_test})
submission

      Completion_rate
0            0.421094
1            0.460379
2            0.599433
3            0.417898
4            0.431609
...               ...
1160         0.440779
1161         0.530369
1162         0.576383
1163         0.580169
1164         0.605405

[1165 rows x 1 columns]

In [15]:
submission.to_csv('submission.csv', index = True, index_label = "id")